<img src="../../../assets/svg/theme.png" alt="Icon" style="width: 30%; margin-left:33%; margin-top: 5%;">

<div class="card" style="width: 30%; margin-left:33%; margin-top: 5%; border:5px solid #242526; border-radius: 35px;">
    <div class="main-content" style="padding: 5px;">
        <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 5%;">Welcome User!</h2>
        <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 5%;">How's your day going?</h3>
    </div>
</div>